* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
}

.main-header {
    display: block;
    width: 100vw;
    height: 10vh;
    text-align: left;
    background-color: lightblue;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.main-footer {
    width: 100vw;
    height: 10vh;
    background-color: lightblue;
}

.main-header__tile--mobile {
    display: block;
    width: 77%;
    margin: 0 auto;
    font-family: 'Lato';
    font-size: 1.5rem;
    padding-top: .5rem;
}

.main-header__tile--desktop {
    display: none;
}

.main-content {
    width: 96%;
    height: 100%;
    margin: auto;
    padding: 2.5vh 0;
    min-height: 80vh;
}

.main-content_section--one,
.main-content_section--two,
.main-content_section--three {
    position: relative;
    background-color: lightgray;
    margin: 2rem auto;
    width: 80%;
    border: black solid 2px;
}

.clearfix {
    clear: both;
}

.mobile-section-title {
    width: 100%;
    text-align: center;
    padding: .5rem 1rem;
    border: black solid;
    border-width: 0px 0px 2px 0px;
    font-size: 1.25rem;
}

.section-title {
    display: none;
}

.main-content_section--one>.section-title,
.main-content_section--one>.mobile-section-title {
    background-color: lightcoral;
}

.main-content_section--two>.section-title,
.main-content_section--two>.mobile-section-title {
    background-color: lightblue;
}

.main-content_section--three>.section-title,
.main-content_section--three>.mobile-section-title {
    background-color: lightgreen;
}

.section-paragraph {
    display: inline-block;
    margin: 1rem 1rem;
    height: 150px;
    overflow: hidden;
}

.section-paragraph:hover {
   cursor: row-resize;
   overflow: scroll;
}

@media (min-width:768px) {
    .mobile-section-title {
        display: none;
    }

    .main-header__tile--mobile {
        display: none;
    }

    .main-header__tile--desktop {
        display: block;
        padding-top: .5rem;
        font-size: 1.75rem;
    }

    .main-header {
        text-align: center;
    }

    .section-paragraph {
        margin: 3rem 1rem 1rem 1rem;
    }

    .main-content_section--one,
    .main-content_section--two {
        margin: 1%;
        width: 48%;
        float: left;
    }

    .main-content_section--three {
        margin: 1%;
        width: 98%;
        clear: both; /* Clearing both sides so if the two sections above
                        are changed, and their float is set to right and left,
                        the last section will be put on a new line and the
                        other 2 sections will not encroach in its space. */
        float: left;
    }

    .section-title {
        display: inline-block;
        position: absolute;
        padding: .2rem 1rem;
        width: 150px;
        border: black solid;
        border-width: 0px 0px 2px 2px;  
        font-size: 1.25rem;
    }

    .main-content_section--one>.section-title {
        top: 0%;
        right: 0%;
    }

    .main-content_section--two>.section-title {
        top: 0%;
        right: 0%;
    }

    .main-content_section--three>.section-title {
        top: 0%;
        right: 0%;
    }
}

@media (min-width:992px) {

    .main-content_section--one,
    .main-content_section--two,
    .main-content_section--three {
        margin: 1%;
        width: 31.3%;
        clear: none;
    }
}